nextcord
DiscordUtils[voice]
psutil
requests
pymongo
uvloop
orjson>=3.5.4
aiodns>=1.1
cchardet
Brotli
aiohttp==3.7.4
async-timeout==2.0.1
chardet==3.0.4
discord==0.0.2
discord.py==0.16.12
multidict==4.1.0
psycopg2==2.7.4
websockets==9.1